/* ここからheader */

header{
    position: relative;
}
.portfolio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}
.portfolio p{
    font-size: medium;
}

.container-fluid{
    background-color: #f5f5f5;
}

/* ここからIntro */

.my-picture{
    width: 45%;
    height: 45%;
}

/* ここからskills */

.skills{
    background-color: cadetblue;
    padding-bottom: 60px;
}
.options p{
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    cursor: pointer;
    width: 150px;
}
.content{
    width: 85%;
    height: 250px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #f5f5f5;
    overflow: scroll;
}
.icon{
    font-size: 150px;
}





/* ここからContact */

.balloon{
    margin-bottom: 2em;
    position: relative;
}
.balloon:before,.balloon:after{
    clear: both;
    content: "";
    display: block;
}
.balloon figure{
    width: 100px;
    height: 100px;
}
.balloon-image-left{
    float: left;
    margin-right: 20px;
}
.balloon-image-right{
    float: right;
    margin-left: 20px;
}
    .balloon figure img{
    width: 100%;
    height: 100%;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
    margin: 0;
}
    .balloon-image-description{
    padding: 5px 0 0;
    font-size: 10px;
    text-align: center;
}
.balloon-text-right,.balloon-text-left{
    position: relative;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    max-width: -webkit-calc(100% - 120px);
    max-width: calc(100% - 120px);
    display: inline-block;
    background: #d7ebfe;
}
.balloon-text-right{
    border-color: #aaa;
}
.balloon-text-left{
    border-color: #aaa;
}
.balloon-text-right{
    float: left;
}
.balloon-text-left{
    float: right;
}
.balloon p{
    margin: 0 0 20px;
}
.balloon p:last-child{
    margin-bottom: 0;
}

/* 三角部分 */

.balloon-text-right:before{
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #aaa;
    top: 15px;
    left: -20px;
}
.balloon-text-right:after{
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #d7ebfe;
    top: 15px;
    left: -19px;
}
.balloon-text-left:before{
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #aaa;
    top: 15px;
    right: -20px;
}
.balloon-text-left:after{
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #d7ebfe;
    top: 15px;
    right: -19px;
}

.twitter{
    font-size: 30px;
}
.instagram{
    font-size: 30px;
}

    /* ここからfooter */

footer{
    background-color: #343a40;
    color: white;
    padding-top: 8px;
}
.nav p{
    cursor: pointer;
}
footer p{
    color: white;
    margin: 0 5px;
}

/* ここからスクロールのボタン */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    display: none;
    width: 40px;
    height: 40px;
  
    background-color: #f0f0f0;
    color: #333;
    opacity: 0.6;
  
    font-size: 1.6rem;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}
  
  /* マウスを乗せた時に透明度を変える */
  .back-to-top:hover {
    opacity: 1;
  }


/* スマホ画面用のCSS */
@media screen and (max-width:480px) { 
    .portfolio { 
        font-size: x-large;
    }
    .portfolio p{
        font-size: xx-small;
    }
    .my-picture{
        width: 50%;
        height: 50%;
    }
    .options p{
        color: white;
        font-weight: bold;
        margin: 0;
        padding: 2px;
        cursor: pointer;
        /* 変更点 */
        width: 90px;      
    }
}